.home {
  min-height: 100vh;
  background: #ffffff;
  padding-bottom: 80px;
}

/* 상단 인사 영역 */
.hello {
  margin-top: 30px;
  margin-left: 16px;
  margin-right: 16px;

  h1 {
    line-height: 1.3;
    font-size: 20px;
    font-weight: 700;
    color: #232323;

    .name {
      color: #6829D7;
    }
  }

  p {
    color: #555555;
    font-size: 13px;
    margin-top: 7px;
  }
}

/* 최근 교류한 지인 영역 */
.people {
  margin-top: 40px;
  padding-left: 16px;

  .people-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;

    h2 {
      font-size: 17px;
      font-weight: 700;
      color: #000000;
    }

    .people-all-btn {
      border: none;
      background: none;
      font-size: 13px;
      color: #555555;
      cursor: pointer;
    }
  }

  .people-list {
    margin-top: 16px;
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding-right: 16px;
    padding-bottom: 4px;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #e1d7ff;
      border-radius: 999px;
    }
  }

  .people-card {
    scroll-snap-align: start;
    background-color: #F9F9F9;
    border-radius: 20px;
    padding: 16px 14px 14px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04);
    flex: 0 0 160px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .people-degree {
    width: 100%;
    font-size: 13px;
    color: #232323;
    text-align: center;
    margin-bottom: 8px;

    span {
      font-weight: 700;
      color: #6829D7;
      margin-left: 2px;
    }
  }

  .people-avatar-wrap {
    width: 85px;
    height: 85px;
    border-radius: 999px;
    border: 1px solid #6829D7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;

    .people-avatar {
      width: 70px;
      height: 70px;
      border-radius: 999px;
      object-fit: cover;
    }
  }

  .people-name {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .people-meta {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .meta-col {
    flex: 1;
    text-align: center;

    .label {
      font-size: 10px;
      color: #232323;
      font-weight: 550;
      margin-bottom: 2px;
      white-space: nowrap;
    }

    .value {
      font-size: 10px;
      font-weight: 450;
      color: #555555;
      white-space: nowrap;
    }

    .relation {
      font-weight: 450;
      color: #555555;
    }
  }
}

/* 오늘 이벤트 영역 */
.events {
  margin-top: 28px;
  padding: 0 16px;

  .events-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    h2 {
      font-size: 17px;
      font-weight: 700;
      color: #000;
    }

    .events-add-btn {
      border: none;
      background: none;
      padding: 0;
      font-size: 13px;
      color: #555555;
      cursor: pointer;
    }
  }

  .events-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .event-left-bar {
    position: absolute;
    left: -14px;
    top: -1px;
    bottom: -1px;
    width: 6px;
    border-radius: 999px;
    background: #6829D7;
  }

  .event-card {
    position: relative;
    overflow: visible;
    background: #ffffff;
    border: 1.5px solid #6829d7;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    padding: 14px 12px 14px 18px;
    margin-left: 14px;
  }

  .event-date-row {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 9px;
  }

  .event-date {
    font-size: 14px;
    font-weight: 600;
    color: #000;
  }

  .event-month {
    color: #000000;
  }

  .event-day {
    color: #6829D7;
  }

  .event-dday {
    font-size: 10px;
    font-weight: 450;
    color: #555555;
    padding-top: 3px;
  }

  .event-content {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .event-avatar-wrap {
    width: 52px;
    height: 52px;
    border-radius: 999px;
    border: 1px solid #6829D7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;

    .event-avatar {
      width: 30px;
      height: 30px;
      border-radius: 999px;
      object-fit: cover;
    }
  }

  .event-texts {
    min-width: 0;
  }

  .event-title {
    font-size: 14px;
    font-weight: 500;
    color: #232323;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
  }

  .event-sub {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #777;
    white-space: nowrap;
    gap: 4px;

    .event-person{
      color: #232323;
      font-size: 11px;
      font-weight: 500;
    }

    .event-relation{
      color: #B8B8B8;
      font-size: 9px;
      padding-top: 3px;
    }

    .event-degree {
      color: #6829d7;
      font-weight: 600;
      padding-top: 2px;
    }
  }

  .event-more {
    border: none;
    background: none;
    color: #999;
    font-size: 18px;
    margin-left: auto;
    cursor: pointer;
    align-self: center;
  }

  /* 이벤트 없음 카드 */
  .event-card.empty {
    border-color: #cdb7ff;

    .event-left-bar {
      background: #cdb7ff;
    }

    .event-empty-text {
      font-size: 12px;
      color: #777;
    }
  }
}