button,
a {
    cursor: pointer;
    background-color: var(--none);
}

body {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

// #root {
//     width: 100%;
// }

.container {
    width: 390px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

.none {
    display: none !important;
}

input {
    outline: none;
}