.Onboarding_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 99px;

    .subtitle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 400;
        color: var(--lightgray);
        margin-bottom: 8px;
    }

    .title {
        font-size: 18px;
        font-weight: 500;
        color: var(--black);
        margin-bottom: 7px;
    }

    .logo {
        height: 47px;
        margin-bottom: 50px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .mascot {
        height: 267px;
        margin-bottom: 105px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    button {
        width: 358px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 105px;
        padding: 16px 0;
        background-color: var(--main);
        border-radius: 10px;
        border: none;
        font-size: 15px;
        font-weight: 500;
        color: var(--white);
        cursor: pointer;
    }
}