.Nav_wrap {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    width: 390px;
    height: 70px;
    background-color: var(--white);
    padding: 10px 42px 20px 42px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -2px 2px 0 #D0D0D033;
    z-index: 100;

    .buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .button {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;

            img {
                width: 24px;
                height: 24px;
            }

            .text {
                font-family: var(--mainfont);
                font-size: 10px;
                font-weight: 400;
                color: var(--black);
            }

            &--active {
                .text {
                    color: var(--main); // 선택된 탭 텍스트만 메인 컬러
                }
            }
        }
    }
}